#
#
# mpDNS config file
#
#
#

# mysql IP
host = "127.0.0.1"


# mysql user name
user = "dns"


# mysql password
passwd = "baja"


# mysql port
port = "3306"


# mysql db name
dbname = "mpDNS1"


# DNS Port
dnsport = "53"


# DNS IP. INADDR_ANY für alle Adressen auf dem Rechner.
# dnsip = "192.168.10.4"
dnsip = "INADDR_ANY"


# program debug level. Higher is more
debugLevel = "3"


# path/filename to log file
logFile="/var/log/mpDNS.log"


# forwarder
forwarder = "62.26.26.62"
# forwarder = "195.185.185.195"
